@import '../../../sass/variables';

.product-purchase {
  // border: solid 1px $color-gray30;
  // height: 50px;
  background-color: $color-white;
  border-radius: 5px;
  margin-bottom: 10px;
  padding: 10px;
  display: flex;
  gap: 10px;
  align-items: center;
  height: 100px;
}

.product-purchase__image {
  height: 60px;
  width: 60px;

  img {
    height: 100%;
    width: 100%;
    object-fit: contain;
  }
}

.product-purchase__description {
  flex: 1;
  color: $color-gray80;
}

.product-purchase__title {
  font-size: $fsize-small;
  text-transform: uppercase;
  
  @include mqTablet {
    font-size: $fsize-medium;
  }
  @include mqDesktop {
    font-size: $fsize-large;
  }
}

.product-purchase__cod {
  text-transform: uppercase;
  font-size: $fsize-small;
  display: none;

  @include mqTablet {
    display: block;
  }
}

.product-purchase__section {
  flex-basis: 150px;
  
  @include mqTablet {
    flex-basis: 180px;
  }
}

.product-purchase__row {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.product-purchase__row-item {
  font-size: $fsize-small;
  white-space: nowrap;
  
  @include mqDesktop {
    font-size: $fsize-medium;
  }
}

.product-purchase__quantity {
  display: inline-block;
  width: 25px;
  height: 25px;
  line-height: 25px;
  text-align: center;
  border: solid 1px $color-gray30;
  vertical-align: middle;
}

.product-purchase__price-total {
  color: $color-violet;
  font-weight: bold;
}