@import '../../sass/variables';

.order__container {
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: $fsize-small;
  font-weight: normal;
  color: $color-gray10;
  background-color: $color-gray80;
  padding: 0 10px;
  height: 40px;
  border-radius: 5px;
}

.order__select {
  margin-left: 0px;
  border: none;
  background-color: transparent;
  color:$color-gray10;
  outline: none;
  font: bold $fsize-medium 'Play';
  box-shadow: none;
}

.order__select * {
  appearance: none;
  background-color: $color-gray80;
}
select:focus{ 
  outline: none;
  box-shadow: none;
  border: none;
}
