@import '../../../sass/variables';

.product-purchase-summary {
  height: 80px;
  border-bottom: solid 2px $color-gray10;
  display: flex;
  gap: 10px;
  padding: 5px;
}

.product-purchase-summary__image {
  height: 70px;
  width: 70px;
  img {
    height: 70px;
    width: 70px;
    object-fit: contain;
  }
}

.product-purchase-summary__description {
  flex-grow: 1;
  overflow: hidden;
  height: 100%;
  position: relative;
}

.product-purchase-summary__title {
  font-size: $fsize-medium;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
  line-height: 30px;
}

.product-purchase-summary__section {
  font-size: $fsize-small;
  font-weight: normal;
  color: $color-gray80;
  height: max-content;
  
  .pps-item {
    position: absolute;
  }

  .pps-item.left {
    left: 0;
    bottom: 0;
    text-align: left;
  }
  
  .pps-item.right {
    right: 0;
    bottom: 0;
    text-align: right;
  }
}

