@import '../../sass/variables';

.filter-box__title {
  border-top: solid 1px $color-gray10;
  font-size: $fsize-large;
  height: 40px;
  display: flex;
  align-items: center;
  justify-content: space-between;
  
  svg {
    transition: .2s;
    height: 25px;
    width: 25px;
    color: $color-gray10;
  }
}

.filter-box__content {
  // border: solid 1px red;
  max-height: 0;
  transition: max-height .3s;
  overflow-y: scroll;
}

.filter-box.open .filter-box__title {
  svg {
    transform: rotate(180deg);
  }
}
.filter-box.open .filter-box__content {
  max-height: 150px;
  margin-bottom: 15px;
}

.filter-box__item {
  height: 30px;
}