@import '../../../sass/variables';

.purchase-confirmation {
  background-color: $color-white;
  border-radius: 5px;
  padding: 15px;
}

.purchase-confirmation__title {
  font-size: $fsize-xlarge;
  font-weight: bold;
  color: $color-violet;
  line-height: 50px;
}

.purchase-confirmation__resume {
  display: flex;
  flex-direction: column;

  @include mqDesktop {
    flex-direction: row;
    justify-content: space-between;
  }
}

.purchase-confirmation__item {
  // background-color: red;
  padding: 15px 0;
  
  &:nth-of-type(odd) {
    border-bottom: solid 2px $color-gray10;
  }
  
  @include mqDesktop {
    width: 50%;

    &:nth-of-type(odd) {
      border: none;
      border-right: solid 2px $color-gray10;
      padding-right: 15px;
    }
    &:nth-of-type(even) {
      padding-left: 15px;
    }
  }
}

.purchase__confirmation__item-title {
  display: flex;
  justify-content: space-between;
  align-items: center;
  font-size: $fsize-large;
  font-weight: bold;
  color: $color-violet;
  
  button {
    width: min-content;
  }
}

.purchase-confirmation__item-info {
}

.purchase__confirmation__item-subtitle {
  font-size: $fsize-medium;
  color: $color-gray80;
}

.purchase-confirmation__item-info-content {
  color: $color-gray80;
  font-size: $fsize-medium;
}