@import '../../sass/variables';

.product {
  
}

.product__container {
  margin: 0 auto;
  padding: 0 15px;

  @include mqTablet {
    width: 90%;
    padding: 0;
    max-width: 1200px;
  }
}

.product__main {
  display: flex;
  flex-direction: column;
  gap: 10px;

  @include mqTablet {
    display: grid;
    grid-template-columns: 60% auto;
  }
}

.product__short {
  color: $color-gray10;
  font-size: $fsize-medium;
  gap: 10px;
  display: flex;
  flex-direction: column;
}

.product__brand {
  font-size: $fsize-xlarge;
  font-weight: bold;
  text-transform: uppercase;
}

.product__title {
  font-size: $fsize-xlarge;
  text-transform: uppercase;
}

.product__sku {
  font-size: $fsize-small;
  text-transform: uppercase;
}

.product__rating {
  font-size: $fsize-small;
  font-weight: normal;
  
  span {
    white-space: nowrap;
  }
  
  @include mqTablet {
    font-size: $fsize-medium;
  }
}

.product__stock {
  text-transform: uppercase;
  background-color: $color-green;
  color: $color-black;
  width: max-content;
  font-weight: bold;
  padding: 0 5px;
  
  &.out {
    background-color: $color-red;
    color: $color-white;
  }
}

.product-preview {
  grid-column: 1;
  grid-row: 1 / span 3;
}

.product__price {
  display: flex;
  justify-content: space-between;
  align-items: flex-end;
  width: 100%;
  color: $color-gray10;

  @include mqTablet {
    grid-column: 2;
  }
}

.product__price-off {
  font-size: $fsize-xlarge;
}

.product__price-normal {
  text-decoration: line-through;
  white-space: nowrap;
  color: $color-gray30;
  margin-right: 5px;
}

.product__price-discount {
  display: inline-block;
  line-height: 26px;
  background-color: $color-pink;
  font-weight: bold;
  padding: 0 5px;
}

.product__price-total {
  font-size: $fsize-xxlarge;
  font-weight: bold;
  white-space: nowrap;
}



.product__action {
  // border:solid 2px blue;
  position: fixed;
  z-index: 500;
  width: 100%;
  bottom: 0;
  left: 0;
  
  display: flex;
  
  @include mqDesktop {
    position: relative;
    z-index: auto;
    align-self: center;
    justify-self: center;
    width: 90%;
  }
}

.product__action-favorite {
  border-radius: 0;
  flex-basis: 40px;
  background-color: $color-gray30 !important;
  
  &.active {
    background-color: $color-red !important;
  }

  @include mqDesktop {
    border-radius: 5px 0 0 5px;
  }
}

.product__action-cart {
  border-radius: 0;
  
  @include mqDesktop {
    border-radius: 0 5px 5px 0;
  }
}


.product__info {
  margin: 60px auto;
}


.product__tabs {
  margin-bottom: 15px;
}

.product__tabs-btn {
  display: inline-block;
  height: 40px;
  width: 50%;
  color: $color-gray30;
  font-size: $fsize-medium;
  font-weight: normal;
  
  &:hover {
    color: $color-gray10;
    background-color: rgba($color: $color-white, $alpha: .05);
  }
}


.product-tabs-line {
  height: 4px;
  width: 50%;
  transition: .2s;
  background-color: $color-green;
  
  &.right {
    transform: translateX(100%);
  }
}


.product__tab-content {
  max-height: 60vh;
  overflow-y: auto;
}

.product__description {
  text-align: justify;
  color: $color-gray30;
  font-size: $fsize-medium;
}

.product__specs {

}


.product__specs-row {
  font-size: $fsize-medium;
  font-weight: normal;
  padding: 6px 0;
  text-transform: uppercase;
  // filter: brightness(1.2);
  // background-color: $color-bg;
  background-color: rgba($color: $color-violet, $alpha: .5);
  border-top: solid 2px $color-gray80;
  color: $color-gray30;
  
  &:nth-of-type(odd) {
    background-color: rgba($color: $color-violet, $alpha: .2);
  }
}

.product__specs-row-section {
  display: inline-block;
  width: 50%;
  padding-left: 10px;
}