@import '../../sass/variables';

.input-text {
  width: 100%;
  margin-top: 10px;

  &.light {

    .input-text__container {
      border: solid 2px $color-gray30;
    }
    .input-text__label {
      color: $color-violet;
      background-color: $color-white;
    }
    .input-text__field {
      color: $color-gray80;
    }
  }

  &.error {

    .input-text__container {
      border: solid 2px $color-red !important;
    }
  }
}

.input-text__container {
  height: 36px;
  position: relative;
  border: solid 2px $color-gray10;

  &.textarea {
    height: 100%;
  }
}

.input-text__label {
  font-size: $fsize-medium;
  font-weight: normal;
  position: absolute;
  transition: .3s;
  color: $color-green;
  background-color: $color-gray80;
  padding: 0 5px;
  margin-left: 3px;
  top: 16px;
  transform: translateY(-50%);
}

.input-text__field {
  width: 100%;
  height: 100%;
  padding: 8px;
  color: $color-gray10;
  
  &.textarea {
    background-color: transparent;
    resize: none;
    height: 100%;
    outline: none;
    border: none;
    font-family: 'Play';
  }
}

.input-text__error {
  font-size: $fsize-small;
  font-weight: normal;
  color: $color-gray10;
  width: 100%;
  display: block;
  text-align: right;
  margin-top: 4px;
  visibility: hidden;
}

.input-text__error.visible {
  visibility: visible;
}

.focus {
  top: 0;
  font-size: $fsize-small;
  transform-origin: center left;
}
