@import '../../../sass/variables';

.purchase-cart {
  width: 100%;

  @include mqDesktop {
    grid-column: span 2;
  }
}

.purchase-cart__list {
  
}

.purchase-cart__summary {
  background-color: $color-white;
  border-radius: 5px;
  padding: 10px;
  height: 100px;
  display: flex;
  align-items: center;
  justify-content: flex-end;
}

.purchase-cart__summary-container {
  flex-basis: 150px;
  margin-right: 40px;
  
  @include mqTablet {
    flex-basis: 180px;
  }
}

.purchase-cart__row {
  line-height: 25px;
  display: flex;
  justify-content: space-between;
  align-items: flex-end;
  font-size: $fsize-small;
  
  &.total {
    border-top: solid 2px $color-violet;
  }
  
  @include mqDesktop {
    font-size: $fsize-medium;
  }
}

.purchase-cart__total {
  color: $color-violet;
  font-weight: bold;
  font-size: $fsize-medium;
  
  @include mqTablet {
    font-size: $fsize-large;
  }
}

.purchase-cart__actions {
  margin: 30px auto;
  width: 90%;
  max-width: 300px;
}