@import '../../sass/variables';

.button {
  width: 100%;
  height: 36px;
  // background-color: red;
  color: $color-gray10;
  font-size: $fsize-medium;
  font-weight: bold;
  background-color: $color-gray80;
  border: solid 2px $color-gray10;
  border-radius: 5px;
  
}

.button.light {
  background-color: transparent;
  border: solid 2px $color-violet;
  color: $color-violet;
}

.button.primary {
  background-color: $color-violet;
  border: none;
}

.button.google {
  background-color: $color-gray10;
  color: $color-gray80
}

.button.facebook {
  background-color: #1b77f2;
  color: $color-gray10;
}

.button svg {
  height: 60%;
  margin: 0 5px;
  vertical-align: middle;
}

.button.disabled {
  background-color: $color-gray30;
  color: $color-gray80;
  border: none;
}

.button:hover {
  filter: brightness(1.2);
}

.button.disabled:hover {
  filter: brightness(1);
}