@import '../../sass/variables';

.nav-history {
  height: 50px;
  
}

.nav-history__container {
  margin: 0 auto;
  padding: 0 15px;
  line-height: 50px;

  font-size: $fsize-small;

  
  a {
    color: $color-gray10;
  }
  svg {
    color: $color-gray10;
    width: 14px;
    height: 14px;
    vertical-align: text-bottom;
    margin: 0 10px;
  }
  
  @include mqDesktop {
    width: 90%;
    padding: 0;
    max-width: 1200px;
  }
}

.nav-history__item {
  display: inline-block;
}