
$color-white: #ffffff;
$color-gray10: #f0f0f0;
$color-gray30: #a7a7a7;
$color-gray80: #2d2d2d;
$color-black: #191919;
$color-bg: #1b0c23;
$color-pink: #ea1f72;
$color-violet: #5e3381;
$color-blue: #5ec9f1;
$color-red: #ea4b4b;
$color-green: #41be23;
$color-yellow: #ffcc00;
$fsize-small: 1.2rem;
$fsize-medium: 1.4rem;
$fsize-large: 1.7rem;
$fsize-xlarge: 2rem;