@import '../../sass/variables';

.product-carousel {
  width: calc((100vw - 45px)/ 2);
  position: relative;
  padding-bottom: 10px;
  
  &::before, 
  &::after {
    content: '';
    position: absolute;
    
  }
  
  &::before {
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
    z-index: -100;
  }
  
  &::after {
    width: calc( 100% - 4px );
    height: calc( 100% - 4px );
    // width: 100%;
    // height: 100%;
    top: 2px;
    left: 2px;
    background-color: $color-gray80;
    z-index: -90;
  }
  
  &:hover:before{
    background-image: linear-gradient(to top, $color-violet, $color-pink);
  }
  @include mqTablet {
    width: calc((100vw - 60px)/ 3);
  }
  
  @include mqDesktop {
    width: calc((90vw - 60px) / 5);
    max-width: calc((1200px - 60px) / 5);
  }
}

.product-carousel-content {
  position: relative;
  top: 2px;
  left: 2px;
  width: calc( 100% - 4px );
  height: calc( 100% - 4px );
  padding: 10px;

}

.product-carousel__image {
  width: 100%;
  background-color: $color-gray10;
  position: relative;

  &::after {
    content: '';
    display: block;
    padding-top: 100%;
  }
  > * {
    position: absolute;
  }
  img {
    width: 100%;
    height: 100%;
    object-fit: contain;
  }
}

.product-carousel__image-price-off {
  position: absolute;
  top: 0;
  left: 0;
  background-color: $color-pink;
  color: $color-gray10;
  font-size: $fsize-large;
  font-weight: bold;
  padding: 5px;
}

.product-carousel__image-favorite {
  top: 0;
  right: 0;
  width: 40px;
  height: 40px;
  color: $color-red;

  svg {
    padding: 6px;
    width: 100%;
    height: 100%;
  }
}

.product-carousel__title {
  height: calc(2.5 * 1.7rem);
  margin: 15px auto;
}

.product-carousel__title-content {
  display: -webkit-box;
  -webkit-line-clamp: 3;
  -webkit-box-orient: vertical;
  text-align: center;
  font-size: $fsize-medium;
  font-weight: normal;
  color: $color-gray10;
  overflow: hidden;
}

.product-carousel__price-section {
  // margin: 15px auto;
  display: flex;
  align-items: flex-end;
  justify-content: space-between;
}

.product-carousel__price-off {
  text-decoration: line-through;
  color: $color-gray30;
  font-size: $fsize-medium;
}

.product-carousel__price {
  color: $color-gray10;
  font-size: $fsize-large;

}
