@import '../../../sass/variables';

.panel-wl-product {
  height: 90px;
  background-color: rgba(255,255,255,.05);
  border-radius: 5px;
  margin: 10px;
  display: flex;
  align-items: center;
}

.panel-wl-product__check{
  // width: 30px;
  margin: 0 10px;
}

.panel-wl-product__description {
  flex-grow: 1;
  overflow: hidden;
  display: flex;
  align-items: center;
  gap: 10px;
}

.panel-wl-product__image {
  background-color: $color-gray10;
  width: 80px;
  height: 80px;
  img {
    max-width: 80px;
    min-width: 80px;
    height: 80px;
    object-fit: contain;
  }
}

.panel-wl-product__info {
  font-size: $fsize-medium;
  color: $color-gray10;
  text-transform: uppercase;
}

.panel-wl-product__remove {
  flex-basis: 30px;
  margin: 0 5px;
}