@import '../../../sass/variables';

.banner-ua {
  border: solid 2px $color-gray30;
  height: 90px;
  background-color: $color-gray80;
  position: relative;

  img {
    width: 100%;
    height: 100%;
    object-fit: cover;
  }
  
  &.new-banner {
    border: dashed 2px $color-gray30;
  }
}

.banner-ua__title {
  position: absolute;
  bottom: 0;
  left: 0;
  padding: 0 5px;
  font-size: $fsize-medium;
  font-weight: bold;
  color: $color-gray10;
  background-color: rgba($color: $color-black, $alpha: .8);
  line-height: 25px;
  height: 25px;
  width: 100%;
  white-space: nowrap;
  text-overflow: ellipsis;
  overflow: hidden;
  
  input {
    border-bottom: solid 1px $color-gray10;
    width: 100%;
    color: $color-gray10;
  }
}

.banner-ua__btn-remove {
  position: absolute;
  top: 0;
  right: 0;
  color: $color-red;
  width: 25px;
  height: 25px;
  
  svg {
    width: 100%;
    height: 100%;
  }
}

.new-banner__box {
  display: block;
  height: 100%;
  font-size: $fsize-medium;
  font-weight: normal;
  color: $color-gray10;
  display: flex;
  align-items: center;
  justify-content: center;
  cursor: pointer;

  input {
    display: none;
  }
}

.new-banner__fields-container {
  background-color: $color-gray80;
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
  position: absolute;
}

.banner-ua__btn-upload {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  width: 35px;
  height: 35px;
  color: $color-gray10;
  
  svg {
    filter: drop-shadow(0px 0px 10px $color-black);
    width: 100%;
    height: 100%;
  }
}
