@import '../../../sass/variables';

.purchase-du {
  // border: solid 1px blue;
  background-color: $color-white;
  border-radius: 5px;
  flex: 1;
  // height: max-content; // importante- media queries
  padding: 15px;

  @include mqDesktop {
    grid-row: 1 / span 2;
  }
}

.purchase-du__title {
  font-size: $fsize-xlarge;
  font-weight: bold;
  color: $color-violet;
  line-height: 50px;
}

.purchase-du__form {
  margin-bottom: 20px;
}

.purchase-du__email {
  font-size: $fsize-medium;
  font-weight: normal;
  line-height: 30px;
}

.purchase-du__info-personal {
  display: grid;
  grid-template-columns: 100%;
  column-gap: 10px;
  
  
  @include mqDesktop {
    grid-template-columns: 1fr 1fr;
  }
}

.purchase-du__info-address {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  column-gap: 10px;
  
  > :nth-child(1),
  > :nth-child(4),
  > :nth-child(5),
  > :nth-child(7) {
    grid-column: span 2;
  }
  
  @include mqDesktop {
    grid-template-columns: repeat(4, 1fr);
    > :nth-child(7) {
      grid-row: 4;
      grid-column: 1 / -1;
    }
  }
}

.purchase-du__checkbox {
  margin: 10px 0;
}

.purchase-du__btn {
  grid-row: 7;
  grid-column: 1 / -1;
  justify-self: end;
  margin-top: 10px;
  display: flex;
  align-items: center;
  gap: 10px;
  font-size: $fsize-medium;

  button {
    width: 100px;
  }
}

.purchase-du__actions {

  @include mqDesktop {
    grid-column: 2;
  }
}