@import '../../../sass/variables';


.purchase-summary {
  grid-row: 1;

  border-radius: 5px;
  background-color: $color-white;
  padding: 10px;
  height: max-content;

  &.active {
    .purchase-summary__drop-down-menu {
      margin-top: 10px;
      max-height: 50vh;
    }

    .purchase-summary__drop-down-btn {
      svg {
        transform: rotate(180deg);
      }
    }
  }

  @include mqDesktop {
    grid-column: 2;
  }
}

.purchase-summary__drop-down-btn {
  line-height: 30px;
  text-align: center;
  font-size: $fsize-medium;
  border: solid 2px $color-violet;
  border-radius: 5px;
  color: $color-violet;
  user-select: none;
  cursor: pointer;
  
  svg {
    margin-left: 5px;
    vertical-align: middle;
    width: 15px;
    transition: .2s;
  }

  @include mqDesktop {
    display: none;
  }
}

.purchase-summary__drop-down-menu {
  position: relative;
  max-height: 0;
  overflow: hidden;
  transition: .3s;
  display: flex;
  flex-direction: column;
  
  @include mqDesktop {
    max-height: 100vh;
    overflow-y: auto;
  }
}

.purchase-summary__drop-down-list {
  flex-grow: 1;
  overflow-y: auto;
}

.purchase-summary__row {
  line-height: 30px;
  font-size: $fsize-medium;
  display: flex;
  justify-content: space-between;
  color: $color-gray80;
  border-bottom: solid 2px $color-gray10;

  &:last-child {
    border: none;
  }
}

.purchase-summary__row-item {

}