@import '../../../sass/variables';

.user-nav {
  // width: 200px;
  width: 100%;
  // height: max-content;
  background-color: $color-gray80;
}

.user-nav__greeting {
  text-align: center;
  color: $color-gray10;
  line-height: 50px;
  font-size: $fsize-large;
}

.user-nav__list {
  display: flex;
  flex-direction: column;
  gap: 10px;
}

.user-nav__list-item {
  display: block;
  line-height: 30px;
  font-size: $fsize-medium;
  font-weight: bold;
  background-color: $color-gray30;
  color: $color-gray80;
  padding: 0 5px;
  user-select: none;
  
  &.active {
    background-color: $color-violet;
    color: $color-gray10;
  }
  
  &:hover {
    filter: brightness(1.2);
  }
  &.active:hover {
    cursor: default;
    filter: brightness(1);
  }
}