@import '../../../sass/variables';

.steps {
  display: flex;
  align-items: center;
}

.steps__item {
  font-size: $fsize-medium;
  font-weight: normal;
  color: $color-gray30;
  display: flex;
  align-items: center;
  
  &.active {
    color: $color-gray80;
    font-weight: bold;

    .steps__icon {
      background-color: $color-gray80;
    }
  }
}

.steps__item-container {
  display: flex;
  align-items: center;
  gap: 10px;
  color: inherit;
  user-select: none;
}

.steps__icon {
  display: block;
  width: 25px;
  height: 25px;
  border-radius: 50%;
  background-color: $color-gray30;
  color: $color-gray10;
  font-size: $fsize-large;
  line-height: 25px;
  text-align: center;

  svg {
    width: 100%;
    height: 100%;
    padding: 25%;
  }
}

.steps__title {
  display: none;

  @include mqDesktop {
    display: inline;
  }
}

.steps__line {
  width: 25px;
  height: 2px;
  margin: 0 10px;
  background-color: $color-gray30;
}