@import '../../sass/variables';

.layout__section {
  margin-top: 15px;
}

.layout__container {
  margin: 0 auto;
  width: 1200px;
}

.category__banner {
  width: 100%;
  height: 450px;
  border-bottom: solid 2px $color-green;

  img {
    width: 100%;
    height: 100%;
    object-fit: cover;
  }
}

.category__nav {
  line-height: 40px;
  font-size: $fsize-small;
  font-weight: normal;
  color: $color-gray10;
}

.category__catalog {
  display: flex;
}

.catalog__filters {
  width: 250px;
  margin-right: 15px;
}

.catalog__filters > :nth-child(1) {
  margin-bottom: 15px
}

.catalog__products {
  width: 100%;
}