@import '../../sass/variables';

.catalog-list__container {
  width: 100%;
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  gap: 10px;
  
  @include mqTablet {
    grid-template-columns: repeat(3, 1fr);
  }
  @include mqDesktopLarge {
    grid-template-columns: repeat(4, 1fr);
  }
}