@import '../../../sass/variables';

.user-ads {

}

.user-ads__item {
  margin-bottom: 15px;
}

.user-ads__title {
  
}

.user-ads__list {
  display: grid;
  gap: 10px;
  grid-template-columns: repeat(auto-fill, minmax(155px, 1fr));
}
