@import '../../sass/variables';

.checkbox__container {
  display: flex;
  align-items: center;
  gap: 5px;
  font-size: $fsize-medium;
  color: $color-white;  

  &.light {
    color: $color-gray80;
  }

  span {
    text-transform: capitalize;
  }
}

.checkbox {
  width: 20px;
  height: 20px;
  padding: 2px;
  border: solid 2px $color-violet;
  border-radius: 4px;
  background-color: $color-white;
  
  input {
    display: none;
  }
  &.isChecked {
    background-color: $color-violet;
  }
}
